// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

button {
    white-space: nowrap !important;
}
.button__wrapper {
    display: flex;
    flex-direction: row;
    button {
        margin: 0 0.25rem;
    }
}
.alert {
    position: fixed !important;
    top: 1rem;
    right: 1rem;
}
